<!-- tax.component.html -->
<app-layout>
<div class="tax-management-summary">
  <h2>Tax Management Summary</h2>
  <div class="summary-details">
    <div class="current-income">
      <h1>{{ totalNetincome | currency }}</h1>
      <p class="income-type">Current Taxable Income</p>
    </div>
    <div class="breakdown">
      <p><strong>Breakdown:</strong></p>
      <ul class="breakdown-list">
        <li>
          <span>Income:</span>
          <span>{{ totalNetincome | currency }}</span>
        </li>
        <li>
          <span>Deductions:</span>
          <span>-{{ totalDeductions() | currency }}</span>
        </li>
      </ul>
    </div>
  </div>
  <section class="DeductionForm">

    <form class="button-card" #SaveForm="ngForm" (ngSubmit)="onSubmit(SaveForm)">
    <input type="text" name="description" id="description" placeholder="Description" [(ngModel)]="newDeduction.description" name="description" ngModel required />
    <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newDeduction.amount" name="amount" ngModel required />
    <button type="submit" >Submit</button>
  </form>
  <section class="error">
    <ul >
      <li class="errorlist" *ngFor="let error of errorMessages">{{ error }}</li>
    </ul>
  </section>
</section>

  <div class="table">
    <h3>Deductions List</h3>
    <table>
      <thead>
        <tr class="table-head">
          <th class="">Amount</th>
          <th class="">Description</th>
          <th class="">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deduction of deductions; let i = index">
          <td>{{ deduction.description }}</td>
          <td>{{ deduction.amount | currency }}</td>
          <td><button (click)="deleteDeduction(deduction)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="estimated-tax">
    <h3>Estimated Tax (this is a very simple estimate)</h3>
    <p>{{ taxPayable | currency }}</p>
  </div>
</div>
</app-layout>
