
<app-layout>
<section class="page">
<section class="cardone">
  <h2>Recurring Monthly Expenses</h2>

  <section >
    <form class="header-card" #SaveForm="ngForm" (ngSubmit)="onSubmit(SaveForm)">
      <input type="text" name="desc" id="desc" placeholder="Description" [(ngModel)]="newExpense.description" required>
      <input type="number" name="amount" id="amount" placeholder="Amount" [(ngModel)]="newExpense.price"  required>
      <input type="number" name="date" id="date" placeholder="Date" [(ngModel)]="newExpense.expenseDay"  required>
      <button type="submit">Save Expense</button>
    </form>
    <section class="error">
      <!-- Error message -->
      <ul >
        <li class="errorlist" *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </section>
  </section>




  <div class="table">
    <table>
      <thead>
        <tr class="table-head">
          <th class="">Date Payable</th>
          <th class="">Description</th>
          <th class="">Price</th>
          <th class="">Delete</th>
        </tr>
      </thead>
      <tbody>

         <tr *ngFor="let expense of Expenses">
           <td class="">{{ expense.expenseDay }}</td>
           <td>{{ expense.description }}</td>
           <td class="">{{ expense.price }}</td>
         <td class="">
          <button (click)="DeleteExpense(expense.id)">Delete</button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


</section>
</app-layout>
