<app-layout>
  <section class="page">
    <section class="header-card">
      <h2>Debt and Payment Tracker</h2>
      <div class="button-card">
        <div class="input-field">
          <label for="debtAmount">Please Enter Your Total Debt Amount: </label>
          <input
            type="number"
            id="debtAmount"
            [placeholder]="Debt.amount"
            [(ngModel)]="Debt.amount"
          />
        </div>
        <h3>Please Enter Either Payment Amount or Weeks To Pay</h3>
        <div class="input-field">
          <label for="paymentAmount">Payment Amount</label>
          <input
            type="number"
            id="paymentAmount"
            [placeholder]="Debt.paymentAmount"
            [(ngModel)]="Debt.paymentAmount"
            (input)="onAmountChange($event)"
          />
          <div class="input-field">
            <label for="weeksToPay">Weeks to Pay</label>
            <input
              type="number"
              id="weeksToPay"
              [placeholder]="Debt.weeksToPay"
              [(ngModel)]="Debt.weeksToPay"
              (input)="onWeeksToPayChange($event)"
            />
          </div>
        </div>
        <section class="button-group">
        <button (click)="calculateWeeksToPay()">Calculate</button>
        <button (click)="SaveToProfile()">Save To Profile</button>
        </section>
      </div>
    </section>

    <div class="table-container">
      <table>
        <thead>
          <tr class="table-head">
            <th class="column1">Week</th>
            <th class="column2">Remaining Debt</th>
            <th class="column3">Reduction</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeksToPayArray; let i = index">
            <td class="column1">{{ i + 1 }}</td>
            <td class="column2">{{ week.remainingDebt | currency }}</td>
            <td class="column3">{{ week.reduction | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</app-layout>
