<!-- layout.component.html -->
<div class="container">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#" class="logo">
        Account Management
      </a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/expenses">Expenses</a>
    </li>
    <li>
      <a routerLink="/transactions">Transactions</a>
    </li>
    <li>
      <a routerLink="/debt">Debt</a>
    </li>
    <li>
      <a routerLink="/tax">Tax</a>
    </li>
  </ul>
  <div class="content">
    <ng-content></ng-content> <!-- This will be replaced by the content of the child components -->
  </div>
</div>
