.container {
  display: flex; /* Use flexbox */
  height: 100vh; /* Full height */
}

.content {
  flex: 1; /* Allow content to take up available space */
  padding: 20px;
  /* Other styles */
}
button {
  display: block;
  margin: 0 auto;
}
.user {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 10px;
}
